@(message: String)
<html>
    <head>
        <script>
            var exampleSocket = new WebSocket("wss://cronline-socket-test.herokuapp.com/socket", "protocolOne");
            exampleSocket.onopen = function (event) {
               exampleSocket.send(prompt("Wpisz id parafii"));
            };
            exampleSocket.onmessage = function (event) {
                console.log(event.data);
                var thing = document.createElement("span");
                thing.innerHTML = "<br/>" + event.data;
                document.body.appendChild(thing)
            }
        </script>
    </head>
    <body>
        @message
    </body>
</html>

